<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人注册</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
<div class="w">
    <header>
        <div class="logo">
            <img src="../static/assets/logo.png" alt="">
        </div>
    </header>
    <div class="registerarea">
        <h3>登录
            <div class="login">我没有账号，去<a href="register.html">注册</a></div>
        </h3>
        <div class="login_form">
            <form action="main.html">
                <ul>
                    <li><label for="">用户名：</label><input type="text" class="inp"></li>
                    <li><label for="">登录密码：</label><input type="password" class="inp pas"></li>
                    <input type="submit" value="登录" class="btn">
                </ul>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/login.js"></script>
</body>

</html>